<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- My CSS -->
  <link rel="stylesheet" href="../style.css">
  <title>TinyApp</title>
</head>

<body>
  <% include ./partials/_header.ejs %>

  <% if (user) { %>  
    <div class="button-wrapper">
      <a href="/urls/new">
        <div class="button-create button">Create New TinyURL</div>
      </a>
    </div>
    <div class="table-wrapper">
      <h2 style="margin: 20px 0">My URLs</h2>
      <table>
      <% urls.forEach(url => {  %>
      <tr>
        <td><img src="/bow.png" alt="Hello kitty bow" width="35px"></td>
        
        <td class="index-short-url"><a href=<%=url.longURL%>><%= url.shortURL%></a></td>
        <td>=></td>
        <td class="index-long-url"><a href=<%=url.longURL%>><%= url.longURL%></a></td>
        <td class="table-actions">
          <a href=<%="/urls/"+url.shortURL%>>edit</a> |
          <a href=<%="/urls/"+url.shortURL+"/delete"%>>delete</a>
        </td>
      </tr>
      <% }) %>
    </table>
  </div>
  <% } else {%>
    <h2>sign in to view your teeny tiny urls!</h2>
    <div class="form-wrapper">
      <form class="login-form login-form--login" action="/login" method="POST">
        <input id="email" class="form-input-login" type="text" name="email" placeholder="email">
        <input id="password" class="form-input-login" type="password" name="password" placeholder="password">
        <button class="button-submit button-login" type="submit">sign in</button>
      </form>
    </div>

  <% } %>
</body>

</html>